      body {
        font-family: helvetica;
        font-size: 40px;
        background-color: rgb(252, 231, 206);
        height: 100%;
        margin: 0;
        letter-spacing: 2px;
      }

      #nav {
        background-color: white;
        justify-content: center;
      }

      .nav {
        text-transform: uppercase;
        padding: 20px;
        background-color: white;
        color: black;
        display: inline-block;
        transition: 0.3s;
        border: 0px;
        font-weight: 400;
        line-height: 1.8em;
        height: 100%;
        margin: 0;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
      }

      .nav:hover {
        background-color: rgb(236, 205, 167);
        color: white;
        opacity: 0.6;
      }

      #logo {
        width: 10%;
        display: inline-block;
        padding: 0px;
      }

      header {
        font-family: times;
        font-size: 65px;
        color: #282839;
        margin-left: 30px;
        margin-bottom: 0px;
      }

      h1 {
        font-family: times;
        font-size: 60px;
        color: #282839;
        margin-left: 30px;
        margin-bottom: 0px;
      }

      div {
        font-family: times;
        font-size: 35px;
        color: #778899;
      }

      main {
        font-family: times new roman;
        font-size: 40px;
        color: #40404E;
        margin-left: 80px;
        margin-right: 20px;
      }

      a {
        text-decoration: inherit;
        color: inherit;
        border: solid 3px #000000;
        transition: 0.3s;
      }

      .gamestart {
        color: #282839;
        margin-left: 40%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        font-size: 200%;
        box-sizing: border-box;
        padding: 2px 10px;
        border-radius: 40px;
        margin-bottom: 3%;
      }

      .gamestart :hover {
        opacity: 1;
        color: rgb(255, 242, 221);
        background-color: rgb(236, 205, 167);
        border-radius: 30px;
      }